# TO SET A BOOLEAN FALSE: LEAVE BLANK
# Example: SQL_VERBOSE=

HOST="localhost"
PORT=3000
PATH_CONTENT="/Users/Shared/"

PATH_CONTENT="/Users/Shared/"
REDIS_HOST="localhost"
REDIS_PORT=6379

SQL_VERBOSE=